<%= helpers.vcr_boundary(path: vcr_envelope["path"]) do %>
  <section>
    <h1>VCR Dummy</h1>
    <p>count: <%= vcr_state["data"]["count"] %></p>
    <p>last updated: <%= vcr_state["data"]["last_updated_at"] || "-" %></p>

    <%= helpers.vcr_dispatch_form(state: vcr_state_token, msg_type: "Increment") do %>
      <button type="submit">+</button>
    <% end %>
    <%= helpers.vcr_dispatch_form(state: vcr_state_token, msg_type: "Decrement") do %>
      <button type="submit">-</button>
    <% end %>
    <%= helpers.vcr_dispatch_form(state: vcr_state_token, msg_type: "Reset") do %>
      <button type="submit">reset</button>
    <% end %>
  </section>
<% end %>
